/* Světlý motiv */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  /* Primární barva */
  --primary: #00895a;
  --primary-hover: #033823;
  --primary-focus: rgba(0, 137, 90, 0.25);
  --primary-inverse: #FFF;
  
  /* Sekundární barva */
  --secondary: #6c757d;
  --secondary-hover: #5a6268;  
  --secondary-focus: rgba(108, 117, 125, 0.25);
  --secondary-inverse: #FFF;
  
  /* Akcentová barva */
  --accent: #ffbf00;
  --accent-hover: #b78800;
  --accent-focus: rgba(255, 191, 0, 0.25);
  --accent-inverse: #FFF;
  
  /* Kontrastní barva */
  --contrast: #e63946;
  --contrast-hover: #c1121f;
  --contrast-focus: rgba(230, 57, 70, 0.25);
  --contrast-inverse: #FFF;
}

/* Tmavý motiv */
[data-theme="dark"],
:root:not([data-theme="light"]) {
  /* Primární barva */
  --primary: #006d46;
  --primary-hover: #015234;
  --primary-focus: rgba(0, 109, 70, 0.25);
  --primary-inverse: #FFF;
  
  /* Sekundární barva */
  --secondary: #9ca3af;
  --secondary-hover: #6b7280;
  --secondary-focus: rgba(156, 163, 175, 0.25);
  --secondary-inverse: #FFF;
  
  /* Akcentová barva */
  --accent: #00cc88;
  --accent-hover: #00a66e;
  --accent-focus: rgba(0, 204, 136, 0.25);
  --accent-inverse: #FFF;

  /* Kontrastní barva */
  --contrast: #ad9f00;
  --contrast-hover: #827800;
  --contrast-focus: rgba(173, 159, 0, 0.25);
  --contrast-inverse: #FFF;
}


/* Pomocné třídy pro použití barev */
.primary-bg {
  background-color: var(--primary);
  color: var(--primary-inverse);
}

.secondary-bg {
  background-color: var(--secondary);
  color: var(--secondary-inverse);
}

.accent-bg {
  background-color: var(--accent);
  color: var(--accent-inverse);
}

.contrast-bg {
  background-color: var(--contrast);
  color: var(--contrast-inverse);
}

/* Tlačítka s kontrastní barvou */
.button.contrast,
[role="button"].contrast {
  background-color: var(--contrast);
  color: var(--contrast-inverse);
  border: var(--border-width) solid var(--contrast);
}

.button.contrast:hover,
[role="button"].contrast:hover {
  background-color: var(--contrast-hover);
  border-color: var(--contrast-hover);
}

.button.contrast:focus,
[role="button"].contrast:focus {
  box-shadow: 0 0 0 var(--outline-width) var(--contrast-focus);
}

/* Pro primary tlačítka */
[role="button"].primary,
button.primary {
  background-color: var(--primary);
  color: var(--primary-inverse);
}

/* Pro secondary tlačítka */
[role="button"].secondary,
button.secondary {
  background-color: var(--secondary);
  color: var(--secondary-inverse);
}

/* Pro contrast tlačítka */
[role="button"].contrast,
button.contrast {
  background-color: var(--contrast);
  color: var(--contrast-inverse);
}