[data-theme="light"],
main:not([data-theme="dark"]) {
  --primary: pico-color-pink-500;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #FFF;
}
[data-theme="dark"],
main:not([data-theme="light"]) {
  --primary: pico-background-pink-600;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #FFF;
}
